*{
    font-family: 'Merriweather', serif;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
.body{
background-color: #f5f5f5;
}

.thumb{
	width: 100%;
}
.pub{
	width: 50%;
}
.section{
	border-top: 10px solid #f5f5f5;
    border-bottom: 10px solid #f5f5f5;
    background-color: white;
	padding-bottom: 20px;

}
.col-sm-12:hover{
background-color: black;
color: white;

}

a:hover {
    text-decoration: none;
    font-weight: bold;   
}

.noticiastop h3{
font-size: 15px;
}
 
.izq{
    border-top: 5px solid #c9d2d0;
    background-color: #c9d2d0;
}
.izq p{

    color: #31231e;
}
.izq a{

    color: #31231e;
}
.izq h6{

    color: #31231e;
}